#Data Types and Structures Questions

  
 1. What are data structures, and why are they important?
   -  Data structures are ways to store and organize data efficiently. They're crucial for writing optimized code for search, insertion, deletion, and data management.

 2.  Explain the difference between mutable and immutable data types with examples.
   - Mutable: Can be changed after creation. Example: list, dict, set.

   - Immutable: Cannot be changed after creation. Example: int, str, tuple.

 3. What are the main differences between lists and tuples in Python?
   - List: Mutable,	Defined using square brackets [ ], slower, uses more memory,Collections that need to be modified (add, remove, change elements).

  -  Tuple: Immutable,Defined using parentheses ( ) faster, uses less memory, Fixed collections, data integrity is crucial.

 4. Describe how dictionaries store data.
   - Dictionaries store data as unordered collections of key-value pairs. Each item in a dictionary is a pair, with a unique key and its associated value. Keys are used to access the corresponding values, enabling efficient data retrieval.

 5. Why might you use a set instead of a list in Python?
   -  A set is preferred over a list in Python when the primary need is to manage a collection of unique elements efficiently. Sets inherently enforce uniqueness, automatically discarding any duplicate values. This makes them ideal for tasks such as removing duplicates from a sequence or testing membership.

 6. What is a string in Python, and how is it different from a list?
   - In Python, a string is a sequence of characters enclosed in quotes (single or double), while a list is an ordered collection of items enclosed in square brackets [ ]. Strings are immutable, meaning they cannot be changed after creation, whereas lists are mutable and can be modified.

7. How do tuples ensure data integrity in Python?
  - Tuples ensure data integrity in Python through their immutability. Once a tuple is created, its contents cannot be modified, ensuring the data remains consistent and reliable throughout the program's execution. This makes them ideal for storing data that needs to be protected from accidental or unauthorized changes.

8. What is a hash table, and how does it relate to dictionaries in Python?
  -  A hash table is a data structure that stores key-value pairs, using a hash function to compute the index for each key, allowing for fast data retrieval.  
   - In Python 3, dictionaries are implemented using hash tables. When a key-value pair is added to a dictionary, Python calculates the hash value of the key and uses it to determine where to store the value in the underlying hash table.

9. Can lists contain different data types in Python?
  -  Yes, Python lists are designed to accommodate elements of different data types within the same list.

10. Explain why strings are immutable in Python.    
  - For performance, thread safety, and to ensure data consistency when used as keys in dictionaries.

11. What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries offer faster lookup, more flexible storage, and improved readability compared to lists for tasks involving associating data with unique identifiers. Lists, while useful for ordered data, require sequential searching, making them less efficient for lookups by key.

12. Describe a scenario where using a tuple would be preferable over a list.

  -  If we want to store fixed, unchangeable data (e.g., coordinates, constant configuration).
  - Storing coordinates:
A tuple like (x, y) perfectly represents a point on a graph and should remain constant.

13. How do sets handle duplicate values in Python?
  -  Sets in Python 3 are designed to store only unique elements. When attempting to add a duplicate value to a set, it is automatically ignored, ensuring that the set maintains its property of containing only distinct elements.

14. How does the “in” keyword work differently for lists and dictionaries?
  - The "in" keyword functions differently for lists and dictionaries in Python. For lists, it checks if a given value exists as an element within the list. For dictionaries, it checks if a given key exists within the dictionary.

15. Can you modify the elements of a tuple? Explain why or why not
  -  No, you cannot directly modify the elements of a tuple in Python. Tuples are immutable data structures, meaning their elements cannot be changed after they are created. Attempting to assign a new value to an element within a tuple will raise a TypeError.

16. What is a nested dictionary, and give an example of its use case?
  - A nested dictionary in Python is a dictionary whose values are themselves dictionaries. This allows for creating hierarchical data structures, where each level of the structure can store related information.
  - Example: {'person': {'name': 'John', 'age': 30}}

17. Describe the time complexity of accessing elements in a dictionary.
  - The time complexity of accessing an element in a dictionary (also known as a hash table or associative array) is typically O(1), meaning it takes constant time regardless of the dictionary's size. This is because dictionaries use hashing to map keys to their corresponding values, allowing for direct access to the desired value in a single step.

18. In what situations are lists preferred over dictionaries?
  - Lists are preferred over dictionaries when the order of elements is crucial, the data is accessed by index, or when operations like appending, extending, or inserting are frequently used.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Dictionaries are considered unordered because they are primarily designed for fast key-based lookup, not for maintaining a specific order of elements. This means that when accessing or iterating through a dictionary, the order of elements is not guaranteed to be the same as the order they were inserted in, although some implementations.

20. Explain the difference between a list and a dictionary in terms of data retrieval.  
  - In terms of data retrieval, a list uses numerical indices (starting from 0) to access its elements, while a dictionary uses unique keys to access its associated values. This means dictionaries offer faster lookups for retrieving specific data based on a key, while lists excel at ordered sequence operations.

#Practical Questions

1.Write a code to create a string with your name and print it.

In [1]:
name = "Harsh Kumar"
print(name)

Harsh Kumar

2. Write a code to find the length of the string "Hello World".

In [3]:
print(len("Hello World"))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [5]:
word = "Python Programming"
print(word[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [6]:
print("hello".upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [9]:
string = "I like apple. "
replaced_string = string.replace("apple", "orange")
print(replaced_string)

I like orange.

6. Write a code to create a list with numbers 1 to 5 and print it.

In [12]:
nums = [1, 2, 3, 4, 5]
print(nums)

[1, 2, 3, 4, 5]

In [13]:
# Or
L = []
for i in range(1, 6):
  L.append(i)
print(L)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [15]:
list1 = [1,2,3,4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [16]:
list2 = [1,2,3,4,5]
list2.remove(3)
print(list2)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [19]:
list3 = ['a', 'b', 'c', 'd']
print(list3[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [24]:
L4 = [10, 20, 30, 40, 50]
L4.reverse()
print(L4)

[50, 40, 30, 20, 10]

In [25]:
#OR
list4 = [10, 20, 30, 40, 50]
reversed_list4 = list4[::-1]
print(reversed_list4)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [27]:
tuple1 = (100, 200, 300)
print(tuple1)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [28]:
tuple2 = ('red', 'green', 'blue', 'yellow')
print(tuple2[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [31]:
num = (10, 20, 5, 15)
print(min(num))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [33]:
pet =  ('dog', 'cat', 'rabbit')
print(pet.index("cat"))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [34]:
fruits = ("apple, kiwi, banana")
print("kiwi" in fruits)

True

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [55]:
set_s = {'a', 'b', 'c'}
print(set_s)

{'a', 'b', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [39]:
set1 = {1, 2, 3, 4, 5}
set1.clear()
print(set1)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [57]:
set2 ={1,2,3,4}
set2.remove(4)
print(set2)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [58]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
union_set = s1 | s2
print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [59]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1 & set2
print(intersection_set)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [62]:
person = {"name":"Harsh", "age":"24", "city":"Delhi" }
print(person)

{'name': 'Harsh', 'age': '24', 'city': 'Delhi'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [63]:
person = {'name':'John', 'age':25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [64]:
person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [66]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [67]:
person =  {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [70]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list )
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [73]:
import random
rand_list = random.sample(range(1, 101), 5)
print(rand_list)
sorted_list = sorted(rand_list)
print(sorted_list)

[11, 5, 93, 30, 72]
[5, 11, 30, 72, 93]

28. Write a code to create a list with strings and print the element at the third index.

In [74]:
strings = ["apple", "banana", "cherry", "date", "strawberry"]
print(strings[3])

date

29. Write a code to combine two dictionaries into one and print the result.

In [76]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [83]:
str_list = ["one", "two", "three"]

my_new_set = set(str_list)
print(my_new_set)

{'two', 'one', 'three'}